*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f7fb;
padding:40px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

header a{
background:#2563eb;
color:white;
padding:12px 20px;
border-radius:10px;
text-decoration:none;
}

#search{
width:100%;
padding:15px;
border-radius:10px;
border:1px solid #ddd;
margin-bottom:30px;
}

#articles{
display:grid;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 0 10px rgba(0,0,0,.05);
cursor:pointer;
}

.card h2{
margin-bottom:10px;
}

.affiliation{
color:#666;
margin-bottom:10px;
}

.modal{
position:fixed;
inset:0;
background:rgba(0,0,0,.7);

display:flex;
align-items:center;
justify-content:center;
}

.hidden{
display:none;
}

.modal-content{
background:white;
padding:30px;
border-radius:20px;
width:90%;
max-width:900px;
max-height:90vh;
overflow:auto;
}

#close{
float:right;
font-size:30px;
cursor:pointer;
}