@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'DM Sans', sans-serif;
}

body{
  background:#1f2937;
  padding:40px;
  color: #f4f7fb;
  font-family: 'DM Sans', sans-serif;
}

.flex{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:30px;
}

h1{
  text-align:center;
  margin-bottom:30px;
}

.container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:25px;
}

.card h2{
  margin-bottom:15px;
  font-size:22px;
}

form{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-bottom:20px;
}

input,
textarea,
button{
  padding:10px;
  border-radius:8px;
  border:1px solid #d1d5db;
  outline:none;
}

.buttons{
  display:flex;
  gap:10px;
  justify-content: space-between;
}

textarea{
  resize:none;
  height:70px;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  cursor:pointer;
  font-weight:bold;
  transition:0.2s;
  margin-bottom: 12px;
}

button:hover{
  background:#1d4ed8;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-bottom: 16px;
}

th,
td{
  border-radius: 8px;
  padding:10px;
  text-align:left;
  font-size:14px;
  border: 1px solid #fff;
}

th{
  background:#000;
}

.delete-btn{
  background:#ef4444;
  padding:6px 10px;
  font-size:12px;
}

.delete-btn:hover{
  background:#dc2626;
}